.tableRow__container {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1.9px solid rgb(225, 225, 225);
    margin: 3px;
    padding: 10px 3px;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.tableRow__name {
    flex: 0.5;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.tableRow__status {
    flex: 0.2;
}

.tableRow__dateAdded {
    flex: 0.1;
}

.tableRow__dateCleaned {
    flex: 0.1;
}

.badge {
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    white-space: nowrap;
    color: #ffffff;
    width: fit-content;
    margin: 0px;
    background-color: #999999;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.badge:hover {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.badge-error {
    background-color: #d53432;
}

.badge-error:hover {
    background-color: #953b39;
}

.badge-success {
    background-color: #40af42;
}

.badge-success:hover {
    background-color: #356635;
}

.tableRow__option {
    flex: 0.1;
    background-color: var(--primary);
    display: flex;
    max-width: 4rem;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 0px 2px;
    border-radius: 8px;
    cursor: pointer;
}

.tableRow__icon {
    font-size: 18px;
    margin-right: 5px;
    color: white;
}

.tableRow__icon-text {
    font-size: small;
    color: white;
}

@media screen and (max-width: 850px) {
    .tableRow__name {
        flex: 0.50;
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
    }

    .tableRow__dateAdded {
        display: none;
    }

    .tableRow__dateCleaned {
        display: none;
    }

    .tableRow__status {
        flex: 0.2;
    }

    .tableRow__option {
        flex: 0.3;
    }

    .tableRow__icon {
        display: none;
    }
}